testing/automated_testing_framework/system_tests/n8n_test/kilo_code/PowerAutomation_KiloCode_复杂Kilo_Code测试_enterprise_20250611_005844.json
{
  "id": "d5eafa39-f99b-4333-b3c0-6485f3e2d066",
  "name": "PowerAutomation_KiloCode_复杂Kilo_Code测试_enterprise",
  "active": true,
  "nodes": [
    {
      "id": "633a0ad2-199c-4012-b707-8514110d007b",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {},
      "credentials": null,
      "webhookId": null,
      "disabled": false
    },
    {
      "id": "4dfe910e-c1f7-4aff-97fa-d3c5e4013651",
      "name": "Webhook_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "kilo-code-test",
        "responseMode": "onReceived",
        "options": {}
      },
      "credentials": null,
      "webhookId": "97060974-1b52-44dd-a7bc-215575d4d67a",
      "disabled": false
    },
    {
      "id": "c5edaba0-e989-4484-bdfc-72679a6ac95f",
      "name": "Detect_struggle_mode_1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        640,
        300
      ],
      "parameters": {
        "functionCode": "\n// Kilo Code挣扎模式检测: struggle_mode_1\nconst detectionData = {\n  \"complexity\": \"high\"\n};\nconst confidenceScore = 0.95;\nconst responseTime = 1.2;\n\n// 验证检测结果\nconst isValid = confidenceScore >= 0.85 && responseTime <= 3.0;\n\n// 记录检测事件\nconst result = {\n  event_id: \"event_001\",\n  detection_type: \"struggle_mode_1\",\n  detection_data: detectionData,\n  confidence_score: confidenceScore,\n  response_time: responseTime,\n  timestamp: new Date().toISOString(),\n  validation_passed: isValid,\n  performance_metrics: {\n    accuracy_threshold: 0.85,\n    response_time_threshold: 3.0,\n    accuracy_status: confidenceScore >= 0.85 ? \"PASS\" : \"FAIL\",\n    response_time_status: responseTime <= 3.0 ? \"PASS\" : \"FAIL\"\n  }\n};\n\nreturn [result];\n",
        "options": {}
      },
      "credentials": null,
      "webhookId": null,
      "disabled": false
    },
    {
      "id": "19f2186c-f353-4f3b-8eed-dbe3fded2676",
      "name": "Intervention_event_002",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        840,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "{{$env.POWERAUTOMATION_API_URL}}/kilo-code/intervention",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "powerautomationApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Test-Mode",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "intervention_data",
              "value": "{\"type\": \"suggestion\"}"
            },
            {
              "name": "confidence_score",
              "value": "0.88"
            },
            {
              "name": "response_time",
              "value": "0.8"
            },
            {
              "name": "event_id",
              "value": "event_002"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "retry": {
            "enabled": true,
            "maxTries": 3
          }
        }
      },
      "credentials": null,
      "webhookId": null,
      "disabled": false
    },
    {
      "id": "49324a20-93b9-454e-a7f9-ef7949cdb10f",
      "name": "Final_Validation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ],
      "parameters": {
        "functionCode": "\n// 最终验证逻辑\nconst recordingStats = {\n  \"total_kilo_code_events\": 2,\n  \"average_kilo_code_response_time\": 1.0\n};\nconst kiloCodeEvents = 2;\nconst totalActions = 0;\n\n// 验证标准\nconst validationCriteria = {\n  min_kilo_code_events: 1,\n  max_average_response_time: 3.0,\n  min_accuracy_rate: 0.85\n};\n\n// 执行验证\nconst avgResponseTime = recordingStats.average_kilo_code_response_time || 0;\nconst avgAccuracy = recordingStats.average_accuracy || 0;\n\nconst validationResult = {\n  recording_id: \"complex_kilo_001\",\n  validation_timestamp: new Date().toISOString(),\n  kilo_code_events_count: kiloCodeEvents,\n  total_actions_count: totalActions,\n  average_response_time: avgResponseTime,\n  average_accuracy: avgAccuracy,\n  validations: {\n    kilo_code_events_sufficient: kiloCodeEvents >= validationCriteria.min_kilo_code_events,\n    response_time_acceptable: avgResponseTime <= validationCriteria.max_average_response_time,\n    accuracy_acceptable: avgAccuracy >= validationCriteria.min_accuracy_rate\n  },\n  overall_status: \"UNKNOWN\"\n};\n\n// 计算总体状态\nconst allValidationsPassed = Object.values(validationResult.validations).every(v => v === true);\nvalidationResult.overall_status = allValidationsPassed ? \"PASS\" : \"FAIL\";\n\nreturn [validationResult];\n",
        "options": {}
      },
      "credentials": null,
      "webhookId": null,
      "disabled": false
    },
    {
      "id": "2ece2e1e-88e8-47a7-9b03-6f395a84b32d",
      "name": "Test_Results_Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1240,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "{{$env.POWERAUTOMATION_API_URL}}/test-results",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "powerautomationApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recording_id",
              "value": "complex_kilo_001"
            },
            {
              "name": "test_results",
              "value": "{{JSON.stringify($json)}}"
            },
            {
              "name": "timestamp",
              "value": "{{new Date().toISOString()}}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "credentials": null,
      "webhookId": null,
      "disabled": false
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook_Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Trigger": {
      "main": [
        [
          {
            "node": "Detect_struggle_mode_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect_struggle_mode_1": {
      "main": [
        [
          {
            "node": "Intervention_event_002",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervention_event_002": {
      "main": [
        [
          {
            "node": "Final_Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final_Validation": {
      "main": [
        [
          {
            "node": "Test_Results_Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Asia/Shanghai"
  },
  "staticData": {},
  "tags": [
    "powerautomation",
    "kilo-code",
    "testing",
    "automation"
  ],
  "meta": {
    "powerautomation_recording_id": "complex_kilo_001",
    "recording_mode": "kilo_code_detection",
    "target_version": "enterprise",
    "generated_at": "2025-06-11T00:58:44.372468",
    "converter_version": "1.0.0",
    "template_type": "kilo_code_detection"
  }
}