testing/automated_testing_framework/visual_workflow_integration/n8n_workflows/kilo_code/PowerAutomation_KiloCode_Visual_Kilo_Code企业版视觉集成测试_kilo_code_detection_enterprise_20250611_005643.json
{
  "id": "b7cef20b-237e-4950-922c-08e70ff615de",
  "name": "PowerAutomation_KiloCode_Visual_Kilo_Code企业版视觉集成测试_kilo_code_detection_enterprise",
  "active": true,
  "nodes": [
    {
      "id": "3222b621-104f-4acb-bc4f-34c618d3104a",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {},
      "credentials": null,
      "webhookId": null,
      "disabled": false
    },
    {
      "id": "c067ab46-e44b-48e8-bb61-8c1ea667b748",
      "name": "Webhook_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "kilo-code-test",
        "responseMode": "onReceived",
        "options": {}
      },
      "credentials": null,
      "webhookId": "239c8143-68d7-4754-ab60-8ffa1afc0814",
      "disabled": false
    },
    {
      "id": "e2fa3086-b344-40ed-a445-276230bc7573",
      "name": "Action_action_001",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        640,
        400
      ],
      "parameters": {
        "functionCode": "\n// 通用动作处理\nconst actionData = {\n  \"id\": \"action_001\",\n  \"type\": \"click\",\n  \"timestamp\": \"2025-06-11T00:56:43.190625\",\n  \"element_info\": {\n    \"selector\": \".kilo-code-panel\",\n    \"text\": \"\\u667a\\u80fd\\u4ecb\\u5165\\u9762\\u677f\",\n    \"coordinates\": null\n  },\n  \"action_data\": {\n    \"click_type\": \"element\"\n  },\n  \"screenshot_path\": null,\n  \"visual_verification\": null,\n  \"metadata\": {}\n};\n\n// 处理动作数据\nconst result = {\n  ...actionData,\n  processed_at: new Date().toISOString(),\n  node_type: \"generic_action\"\n};\n\nreturn [result];\n",
        "options": {}
      },
      "credentials": null,
      "webhookId": null,
      "disabled": false
    },
    {
      "id": "67899ead-c47a-45e3-b344-6f82b2de8a95",
      "name": "Final_Validation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        840,
        300
      ],
      "parameters": {
        "functionCode": "\n// 最终验证逻辑\nconst recordingStats = {\n  \"total_actions\": 1,\n  \"total_kilo_code_events\": 0,\n  \"total_screenshots\": 0,\n  \"average_kilo_code_response_time\": 0.0,\n  \"recording_duration\": 0.022248\n};\nconst kiloCodeEvents = 0;\nconst totalActions = 1;\n\n// 验证标准\nconst validationCriteria = {\n  min_kilo_code_events: 1,\n  max_average_response_time: 3.0,\n  min_accuracy_rate: 0.85\n};\n\n// 执行验证\nconst avgResponseTime = recordingStats.average_kilo_code_response_time || 0;\nconst avgAccuracy = recordingStats.average_accuracy || 0;\n\nconst validationResult = {\n  recording_id: \"recording_95e28283\",\n  validation_timestamp: new Date().toISOString(),\n  kilo_code_events_count: kiloCodeEvents,\n  total_actions_count: totalActions,\n  average_response_time: avgResponseTime,\n  average_accuracy: avgAccuracy,\n  validations: {\n    kilo_code_events_sufficient: kiloCodeEvents >= validationCriteria.min_kilo_code_events,\n    response_time_acceptable: avgResponseTime <= validationCriteria.max_average_response_time,\n    accuracy_acceptable: avgAccuracy >= validationCriteria.min_accuracy_rate\n  },\n  overall_status: \"UNKNOWN\"\n};\n\n// 计算总体状态\nconst allValidationsPassed = Object.values(validationResult.validations).every(v => v === true);\nvalidationResult.overall_status = allValidationsPassed ? \"PASS\" : \"FAIL\";\n\nreturn [validationResult];\n",
        "options": {}
      },
      "credentials": null,
      "webhookId": null,
      "disabled": false
    },
    {
      "id": "7d638ff0-df13-45c8-8868-f1360c1d1bd3",
      "name": "Test_Results_Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1040,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "{{$env.POWERAUTOMATION_API_URL}}/test-results",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "powerautomationApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recording_id",
              "value": "recording_95e28283"
            },
            {
              "name": "test_results",
              "value": "{{JSON.stringify($json)}}"
            },
            {
              "name": "timestamp",
              "value": "{{new Date().toISOString()}}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "credentials": null,
      "webhookId": null,
      "disabled": false
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook_Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Trigger": {
      "main": [
        [
          {
            "node": "Action_action_001",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action_action_001": {
      "main": [
        [
          {
            "node": "Final_Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final_Validation": {
      "main": [
        [
          {
            "node": "Test_Results_Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Asia/Shanghai"
  },
  "staticData": {},
  "tags": [
    "powerautomation",
    "kilo-code",
    "testing",
    "automation"
  ],
  "meta": {
    "powerautomation_recording_id": "recording_95e28283",
    "recording_mode": "kilo_code_detection",
    "target_version": "enterprise",
    "generated_at": "2025-06-11T00:56:43.193434",
    "converter_version": "1.0.0",
    "template_type": "kilo_code_detection"
  }
}